body {
  background-color: #EFEFEF;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin: 0px;
  line-height: 27px;
  width: 414px;
}

.container {
  margin-bottom: 180px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 117px;
}

p {
  color: #707070;
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-decoration: underline;
  text-align: center;
}

#input {
  border: 1px #DCDCDC;
  border-radius: 5px;
  box-sizing: border-box;
  color: #707070;
  font-size: 20px;
  height: 54px;
  line-height: 27px;
  margin-top: 79px;
  padding: 0px;
  text-align: center;
  width: 375px;
}

#keypad {
  display: grid;
  grid-column: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  margin-top: 31px;
}

.tile-container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 90px 90px 90px 90px;
}

.tile {
  background-color: #FFFFFF;
  border-radius: 6px;
  border-width: 0px;
  font-size: 25px;
  height: 43px;
  line-height: 43px;
  text-align: center;
  width: 89.5px;
}

.tile[value="&nbsp"] {
  background-color: #C2C2C2;
  opacity: 0.15;
}

.tile:active {
  background-color: rgba(0, 150, 129, 0.35)
}

#functionalKeys {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr;
  margin-top: 16px;
  width: 375px;
}

#submit {
  border: 0px;
  border-radius: 6px;
  color: #FFFFFF;
  font-size: 20px;
  height: 44px;
  line-height: 27px;
  width: 255px;
}

#submit:disabled {
  background-color: rgba(0, 150, 129, 0.25)
}

#submit:enabled {
  background-color: #009681;
}

#delete {
  background: #F57E7E;
  border: 0px;
  border-radius: 6px;
  color: #FFFFFF;
  font-size: 20px;
  height: 44px;
  line-height: 27px;
  width: 106px;
}
